@using egr.am.Constants;
@model IEnumerable<egr.am.Models.ProductOffering>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ProductOfferingsControllerAction.friendlyName</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,  new { @class = ClassStyle.Buttons.Add })
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLastModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit",  new { id = item.Id }, new { @class = ClassStyle.Buttons.Edit } ) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = ClassStyle.Buttons.Details })  |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = ClassStyle.Buttons.Delete }) 
                </td>
            </tr>
        }
    </tbody>
</table>
